

<!DOCTYPE html>
<html lang="en">
	
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="moments.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="./img/logo.jpeg" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    
<title>Moments</title>

    <style> @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

        footer {
            font-family: 'Titillium Web', sans-serif;
            font-size: 12px;
            color: #411F1F;
        }
        .footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 30;
    font-size: 20px;
    left: 0;
    color: #411F1F;
    display: inline-block;
    padding-right: 3px;
}

        .footer-distributed {
            background: #F3F3F3;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 55px 10px; /* Adjust the padding for smaller screens */
        }

        .footer-distributed .footer-left {
            width: 100%; /* Change the width for smaller screens */
        }

        .footer-distributed h3 {
            font: normal 39px 'Open Sans', cursive;
            margin: 0;
        }

        .footer-distributed .footer-links {
            color: #411F1F;
            margin: 0;
            font-size: 15px;
            padding: 0;
        }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            font-weight: 400;
            text-decoration: none;
            color: inherit;
        }

        .footer-distributed .footer-company-name {
            color: #222;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        .copyrights {
            width: 100%;
            height: 20px;
            background-color: #411F1F;
        }

        .social-menu ul {
            position: relative; /* Change to relative for smaller screens */
            margin: 0;
            padding: 0;
            text-align: left; /* Center the icons for smaller screens */
        }

        .social-menu ul li {
            list-style: none;
            margin: 0 10px; /* Adjust margin for smaller screens */
            display: inline; /* Display icons in a line for smaller screens */
        }

        .social-menu ul li .fab {
            font-size: 16px;
            line-height: 28px;
            transition: 0.3s;
            color: #411F1F;
            text-align: left;
            padding-left: 1px;
        }

        .social-menu ul li .fas {
            font-size: 16px;
            line-height: 28px;
            transition: 0.3s;
            color: #411F1F;
            text-align: left;
            padding-left: 1px;
        }

        .social-menu ul li .fab:hover {
            color: #fff;
        }

        .social-menu ul li a {
            position: relative;
            display: inline-block; /* Display icons inline for smaller screens */
	    color: #411F1F;
            width: 32px;
            height: 31px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            transition: 0.6s;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
			padding-top: 4px ;
        }

        .social-menu ul li a:hover {
            transform: translate(0, -10%);
			color: #fff;
        }

        .social-menu ul li:nth-child(1) a:hover {
      background-color: #CD201F;
  }

  .social-menu ul li:nth-child(2) a:hover {
      background-color: #d62976;
  }

  .social-menu ul li:nth-child(3) a:hover {
      background-color: #3b5998;
  }
  .social-menu ul li:nth-child(4) a:hover {
      background-color: #17bd22;
  }
  .social-menu ul li:nth-child(5) a:hover {
      background-color: #bd4117;
  }
        @media (max-width: 880px) {
        
        .footer-distributed{
            font: bold 14px sans-serif;
        }
   @media (max-width: 991.98px){
.legacy-style.theme-theme4 .font_theme-0 h2 {
    font-size: 1.5rem;
    margin-left: 14px;
    letter-spacing: .188rem;
    line-height: 1.33;
}
.legacy-style.theme-theme4 .font_theme-0 h4 {
    line-height: 1.84;
    font-size: 15px;
    margin-left: 15px;
}
}
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right, .social-menu ul
        {
            display: block;
            width: 100%;
            
            text-align: center;
        }
      
        
    
      .footer-links{
        font-family: 'Titillium Web', sans-serif;
      font-size:12px;
      color:#411F1F;
        text-align: center;
      }
    }

    </style>
<style class="js-dom-cleanup">
		a,
		.dropdown-menu {
			-webkit-transition: none !important;
			-moz-transition: none !important;
			-ms-transition: none !important;
			-o-transition: none !important;
			transition: none !important;
		}
	</style>
<style>
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.entire{
    width:90%;
    display: flex;
    margin :0 auto;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

a
{
    text-decoration: none;
}
.product-card {
    
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
    text-align: center;
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}



.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {

    height: 300px;
    width:400px;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
	
</style>
<style>
			@font-face {
	font-family: "Lora";
	font-weight: 400;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/lora/n4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/n4.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 400;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/lora/i4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/i4.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 500;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/lora/n5.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/n5.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 500;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/lora/i5.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/i5.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 600;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/lora/n6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/n6.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 600;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/lora/i6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/i6.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 700;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/lora/n7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/n7.woff) format("woff");
}
@font-face {
	font-family: "Lora";
	font-weight: 700;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/lora/i7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/lora/i7.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 100;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n1.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n1.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 100;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i1.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i1.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 200;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n2.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n2.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 200;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i2.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i2.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n3.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n3.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 300;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i3.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i3.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n4.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i4.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i4.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n5.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n5.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i5.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i5.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n6.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i6.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i6.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n7.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i7.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i7.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n8.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n8.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i8.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i8.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 900;
	font-style: normal;
	src: url(//assets-pw.pixieset.com/gf/montserrat/n9.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/n9.woff) format("woff");
}
@font-face {
	font-family: "Montserrat";
	font-weight: 900;
	font-style: italic;
	src: url(//assets-pw.pixieset.com/gf/montserrat/i9.woff2) format("woff2"), url(//assets-pw.pixieset.com/gf/montserrat/i9.woff) format("woff");
}
		</style>
<link href="https://assets-pw.pixieset.com/assets/client/css/themes/theme_4.v-d02266fd.css" rel="stylesheet">
<style>
			:root {--max-page-width:1200px;--global-block-padding:40px;--padding-scaling-xs:0.75;--padding-scaling-sm:1.00;--padding-scaling-md:1.00;--padding-scaling-lg:1.00;--button-width:30px;--button-height:14px;}
		</style>
<style id="js-ac-css-variables"></style>

<link rel="stylesheet" type="text/css" href="https://assets-pw.pixieset.com/assets/flex-client/static/css/flex-main.v-b60c8cca.css">
</link>
<script>
		var flexAssetPath = `https://assets-pw.pixieset.com/assets/flex-client/flex-main-client.v-8321ddaa.min.js`.split('/');
		flexAssetPath.pop();
		flexAssetPath = flexAssetPath.join('/') + '/';
	</script>
<script defer src="https://assets-pw.pixieset.com/assets/flex-client/flex-main-client.v-8321ddaa.min.js"></script>
<style id="legacy-colors" type="text/css">
		:root {
			--primary-background: #fff;
			--accent-background: #ff0000;
			--primary-paragraphs: #3a3a3a;
			--accent-paragraphs: #3a3a3a;
			--primary-headings: #2d2d2d;
			--accent-headings: #2d2d2d;
			--primary-details: #2d2d2d;
			--accent-details: #2d2d2d;
		}
	</style>

<style> 
@keyframes animatedBackground  {
  from  {
  background-position:  0 0;
}
to  {
  background-position:  100% 0;
}
}
form  {
  max-width:  300px;
  margin:  10px auto;
  padding:  10px 20px;
  background:  #f4f7f8;
  border-radius:  8px;
}

a{
color:#fff;
font-weight:400;
text-decoration:none;
font-size:26px;
}

h1  {
  margin:  0 0 30px 0;
  text-align:  center;
}
input[type="text"],  input[type="password"],  input[type="date"],  input[type="datetime"],  input[type="email"],  input[type="number"],  input[type="search"],  input[type="tel"],  input[type="time"],  input[type="url"],  textarea,  select ,option {
  background:  #F2EAD3;
  border:  none;
  font-size:  16px;
  height:  auto;
  margin:  0;
  outline:  0;
  padding:  15px;
  width:  100%;
  background-color:  #F2EAD3;
  color:  #8a97a0;
  box-shadow:  0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom:  30px;
}
input[type="radio"],  input[type="checkbox"]  {
  margin:  0 4px 8px 0;
}
select  {
  padding:  6px;
  height:  32px;
  border-radius:  2px;
}

select{
height:50px;
}
button  {
  border: none;
  padding:  19px 39px 18px 39px;
  color:  #FFF;
  background-color:  #EC823A;;
  font-size:  18px;
  text-align:  center;
  font-style:  normal;
  border-radius:  5px;
  width:  100%;
 
}
fieldset  {
  margin-bottom:  30px;
  border:  none;
}
legend  {
  font-size:  1.4em;
  margin-bottom:  10px;
}
label  {
  display:  block;
  margin-bottom:  8px;
}
label.light  {
  font-weight:  300;
  display:  inline;
}
.number  {
  background-color:  #009087;;
  color:  #fff;
  height:  30px;
  width:  30px;
  display:  inline-block;
  font-size:  0.8em;
  margin-right:  4px;
  line-height:  30px;
  text-align:  center;
  text-shadow:  0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius:  100%;
}
@media screen and (min-width: 480px)  {
  form  {
  max-width:  480px;
}
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #EC823A;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}</style>

</head>
<body class="theme-theme4 legacy-style legacy-palette photo--protected client-side">
  <div id="js-flex-builder"></div>
  <div class="page-container accent_color-0 button_height-14 button_size-1 button_style-4 button_width-30 color_scheme-0 font_theme-0 menu_style-0 sticky_header-0">
  <div class="theme-container" data-animation-type="scaleDown" data-animation-duration="1">
  <div role="header">
  <div class="block-container block-theme4-header block-container--flushed-top block-container--flushed-bottom ca-background-egEq6g" id="block-container-XRYEy6">
  <div class="block-container__block">
  <div class="theme-4-header theme-4-header--banner-size_hidden">
  <div class="element-container clearfix element-header-menu" id="element-container-MA65Ap">
  <div class="element-container__element">
  <div class="header-menu header-menu__style-one">
  <nav class="navbar navbar-expand-lg header-menu__wrapper">
  <a class="header-menu__logo logo-size--small" href="/">
  ZAPPY PHOTOGRAPHY
  </a>
  <div class="collapse navbar-collapse header-menu__nav-wrapper">
  <ul class="navbar-nav d-none d-lg-flex flex-wrap header-menu__nav">
  <li class="nav-item header-menu__item">
  <a class="nav-link header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN" href="/">
  Home
  </a>
  </li>
  <li class="nav-item header-menu__item">
  <a class="nav-link header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN" href="/about">
  About
  </a>
  </li>
  <li class="nav-item active header-menu__item">
  <a class="nav-link header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN" href="/moments">
  MOMENTS
  </a>
  </li>
  
  <li class="nav-item header-menu__item">
  <a class="nav-link header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN" href="/contactus">
  Contact
  </a>
  </li>
  <li class="overlay-menu__item">
    <a class="nav-link header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN" href="/Login">
		Login
		</a>
  </li>
  </ul>
  </div>
  <div class="header-menu__overlay-toggler d-lg-none">
  <a href="#" class="overlay-menu__show js-overlay-menu-show">
  <span class="d-lg-none header-menu__primary ca-primary-link-rgox92 ca-primary-link-hover-VNbZMN">Menu</span>
  <i class="fal fa-bars fa-fw header-menu__icon ca-primary-icon-yBDqZN ca-primary-icon-hover-VBpEGN"></i>
  </a>
  <a class="overlay-menu__hide js-overlay-menu-hide" href="#">
  <i class="fal fa-times fa-fw header-menu__icon ca-overlay-icon-zglAm2 ca-overlay-icon-hover-MNeZxg" style="font-size: 1.5rem;"></i>
  </a>
  </div>
  </nav>
  <div class="overlay-menu__wrapper ca-overlay-menu-YBAoAg">
    <a class="overlay-nav__close-link" href="#" style="display: none;">
    <i class="fal fa-times ca-overlay-icon-zglAm2 ca-overlay-icon-hover-MNeZxg"></i>
    </a>
    <ul class="overlay-menu__nav">
    <li class="overlay-menu__item" id="navaling" > <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height:="20px" viewBox="0,0,256,256">
        <g transform="translate(7.68,7.68) scale(0.94,0.94)"><g fill="#000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="translate(-1.13846,-12.95385) scale(9.84615,9.84615)"><path d="M20,2.03125c-0.55078,0 -1,0.44922 -1,1v4.78125l-5.28125,-5.28125c-0.39062,-0.39062 -1.04687,-0.39062 -1.4375,0l-11.71875,11.75c-0.39062,0.39063 -0.39062,1.01563 0,1.40625c0.39063,0.39063 1.01563,0.39063 1.40625,0l11.03125,-11.03125l11.0625,11.0625c0.19531,0.19531 0.46094,0.3125 0.71875,0.3125c0.25781,0 0.49219,-0.11719 0.6875,-0.3125c0.39063,-0.39062 0.39063,-1.01562 0,-1.40625l-3.46875,-3.46875v-7.8125c0,-0.55078 -0.44922,-1 -1,-1zM13,6.5l-11,11v5.5c0,1.65625 1.34375,3 3,3h16c1.65625,0 3,-1.34375 3,-3v-5.5zM11,16h4c0.55078,0 1,0.44922 1,1v6c0,0.55078 -0.44922,1 -1,1h-4c-0.55078,0 -1,-0.44922 -1,-1v-6c0,-0.55078 0.44922,-1 1,-1z"></path></g></g></g>
        </svg>
    <a class="overlay-menu__primary ca-overlay-link-K2kd0B ca-overlay-link-hover-W2qEb2" href="/"> 
    Home
    </a>
    </li>
    <li class="overlay-menu__item" id="navaling"  > <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height:="20px" viewBox="0,0,256,256">
        <g transform="translate(7.68,7.68) scale(0.94,0.94)"><g fill="#000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="translate(-0.98462,1.99351) scale(9.84615,9.84615)"><path d="M13,0c-7.17969,0 -13,5.14844 -13,11.5c0,3.25781 1.53516,6.19141 3.99609,8.28516c-0.67578,2.86328 -4.09766,4.04297 -3.875,4.85547c2.16797,1.24609 7.99219,-1.12891 9.88672,-1.96094c0.96094,0.20313 1.96094,0.32031 2.99219,0.32031c7.17969,0 13,-5.14844 13,-11.5c0,-6.35156 -5.82031,-11.5 -13,-11.5zM14.92578,17.41406c-0.48828,0.20313 -1.625,0.72656 -2.67187,0.72656c-0.96875,0 -2.28906,-0.44531 -2.28906,-1.875c0,-1.65625 1.17188,-4.01562 1.17188,-5.38281c0,-1.52344 -1.98047,-0.69922 -2.125,-0.64453l0.19922,-0.8125c0.48828,-0.19922 1.64844,-0.72656 2.67578,-0.72656c0.83203,0 2.25,0.30078 2.25,1.875c0,1.58203 -1.17187,4.11328 -1.17187,5.38281c0,0.35156 -0.04687,0.90625 1.04688,0.90625c0.42578,0 1.01172,-0.21484 1.11719,-0.26172zM13.53906,7.19531c-0.70703,0 -1.78125,-0.48437 -1.78125,-1.65625c0,-1.1875 1.14453,-1.66797 1.78125,-1.66797c0.75391,0 1.77734,0.55078 1.77734,1.66797c0,0.67578 -0.53125,1.65625 -1.77734,1.65625z"></path></g></g></g>
        </svg>
    <a class="overlay-menu__primary ca-overlay-link-K2kd0B ca-overlay-link-hover-W2qEb2" href="/about">
    About
    </a>
    </li>
    <li class="overlay-menu__item" id="navaling"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height:="20px"  viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
    <a class="overlay-menu__primary ca-overlay-link-K2kd0B ca-overlay-link-hover-W2qEb2" href="/moments">
    MOMENTS
    </a>
    </li>
    
    <li class="overlay-menu__item" id="navaling"><svg xmlns="http://www.w3.org/2000/svg"  width="20px" height:="20px"viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 256h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
    <a class="overlay-menu__primary ca-overlay-link-K2kd0B ca-overlay-link-hover-W2qEb2" href="/Contactus">
    Contact
    </a>
    </li>
    
    <li class="overlay-menu__item" id="navaling"><svg xmlns="http://www.w3.org/2000/svg"  width="20px" height:="20px" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
      <a class="overlay-menu__primary ca-overlay-link-K2kd0B ca-overlay-link-hover-W2qEb2" href="/login">
      Login
      </a>
      </li>
      <iframe width="395" height="194" id="gmap_canvas" src="https://maps.google.com/maps?q=203,%201st%20floor,vignesh%20complex,%20veerappan%20palayam%20pirivu,perudurai%20road%20,%20Erode,%20India,%20Tamil%20Nadu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:694px;width:395px;margin-bottom: 0;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:694px;width:395px;}</style>             

      <div class="footer-left" style="background-image: linear-gradient(135deg, #B91372 10%, #6B0F1A 100%);bottom: 0;">
        
      
        <p class="footer-company-name" style="font-family: 'Titillium Web', sans-serif; color:#ffffff;font-size:15px;font-weight: bold;">203, 1st floor,vignesh complex, veerappan palayam pirivu,perudurai road , Erode, India, Tamil Nadu</p>
         <h4 style="font-family: 'Titillium Web', sans-serif; color:#ffffff;font-size:25px;">
      098948 11888</h4>
      
      
         
         
        
        </div>
    </ul>
   
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div role="main" class="main-body" id="body-section-2015677">
  <div class="block-container block-single-text page-block ca-background-42noBe" id="block-container-vXZbE7">
  
   
<h2 class="ca-headings-AgLzB8 ql-align-center">Life of <%= item.name %></h2>
<h4 class="ca-headings-AgLzB8 ql-align-center"><%= item.date %></h4>
<div style="border: 0.5px solid grey;width: 100%;"></div>
  </div>
  </div>
  <div class="block-container block-client-gallery page-block ca-background-ZgPWoN" id="block-container-XRYEZP">
  <div class="block-container__block">
  <div class="element-container clearfix element-client-gallery" id="element-container-YbpLEA">
  <div class="element-container__element">
  <div class="client-gallery client-gallery__style_1">
  <div class="client-gallery__container container-fluid max-w-1200">
  <div class="header row no-gutters align-items-center">
  <div class="header__tags col-12 col-md-7 col-lg-8 col-xl-9">
  
  
  </div>

  </div>

  
  </a>
  </div>
 
  <h3 style="text-align: center;justify-content: center; font-family: 'Cormorant Garamond', serif; font-size: 30px; ;">Blissful Life
    <div style="position: absolute; left: 35%;border: 0.5px solid grey;width: 30%; "></div></h3>

</a>
</div>


    
	<% images.forEach(image => { %>
      
		
		  <!-- <h2><%= console.log(image.name)%></h2> -->
		  <img src="data:image/jpeg;base64,<%= image.data.toString('base64') %>" alt="<%= image.name %>" style="width:300px;height:300px;margin: 5px; display: inline-block;">
		
  
	  <% }); %>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  </div>
  
  <footer>
  <footer class="footer-distributed">
	<div class="footer-left">
		<h3 style="font-family: 'Playfair Display', serif; color: #411F1F; font-size: 2.2rem;">Zappy Photography</h3>
		<p class="footer-links">
			<a href="/" class="link-1">Home</a>
			<a href="/moments">Moments</a>
			<a href="/about">About Us</a>
			<a href="/Contactus">Contact Us</a>
		</p>
		<p class="footer-company-name" style="font-family: 'Titillium Web', sans-serif;">203, 1st floor, Vignesh Complex, Veerappan Palayam Pirivu, Perudurai Road, Erode, India, Tamil Nadu</p>
		<h4 style="font-family: 'Titillium Web', sans-serif; color: #411F1F; font-size: 15px;">098948 11888</h4>
		<h4 style="font-family: 'Titillium Web', sans-serif; color: #411F1F; font-size: 12px;">Reach Us At:</h4>

		<div class="social-menu">
      <ul>
          <li><a href="https://youtube.com/@zappyphotography6864?si=v22xcj4-VFXHbz7R" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://www.instagram.com/zappyphotography/?igshid=MzRlODBiNWFlZA%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a></li>
          
          <li><a href="https://www.facebook.com/mohan.raj.902266/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://api.whatsapp.com/send?phone=1234567890" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="1.2em" bottom="7px;" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg></a></li>

          <li><a href="mailto:photographyzappy@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
        <script>
document.getElementsByClassName('fas fa-envelope').addEventListener('click', function() {
window.location.href = 'mailto:photographyzappy@gmail.com';
});
</script>
  </div>
	</div>
</footer>
<div class="copyrights"></div>
    
    </footer>
  
    </body>
    <script src="https://assets-pw.pixieset.com/assets/client/js/manifest.v-07f2ecbd.js"></script>
    <script src="https://assets-pw.pixieset.com/assets/client/js/vendor.v-86dd7af9.js"></script>
    <script src="https://assets-pw.pixieset.com/assets/client/js/index.v-cfce46a9.js"></script>
    <script src="https://assets-pw.pixieset.com/assets/client/js/themes/theme_4.v-64de9dd2.js"></script>
    <script id="js-payload-pw" class="js-dom-cleanup" type="application/json">
        {"s":{"t":{"tk":"theme_4"},"blks":{"theme_4_footer":{"tk":"theme_4_footer","uuid":"L1JML1","footer_text":"All content Copyright \u00a9 {year} {businessName}","footer_style":"2","instagram_graph":{"tk":"instagram_graph","uuid":"WKwYn1","title":{"val":null,"child_elements":[]},"style":{"val":"0","child_elements":[],"valueConfig":[{"container":"container--full-width instagram-graph_container--style_1 d-flex flex-column justify-content-center"},{"container":"instagram-graphcontainer--style_2 container--full-width--sm container-fluid max-w-1200"},{"container":"instagram-graphcontainer--style_3 container-fluid max-w-1200"}]},"on_click":{"val":"0","child_elements":[]},"photoswipablePhotos":[{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/262003324_273751668064317_112108801859767348_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=abevHqcyIU0AX-WPiOp&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=25b6f854e331695e9eb904df6134075c&oe=61AD96E0","w":1080,"h":1080},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/261629413_383088110168192_329881124612756107_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=hENWnW6Rf1QAX8Nzc3p&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=6daafaa07d5e461dfaafbde456106f28&oe=61AD7682","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/260231493_916577692321257_5146960250054060369_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=mv_0EIOWL20AX9HXT5k&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=18b422afe0b65186a83b76ddc3435672&oe=61AF695E","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/260894409_126909293077105_2583675069028171992_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=SkMz4NJV3GAAX9XKfCf&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=b9d5c619b6e337cd24d96d69da92cec3&oe=61AF0BD8","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/260126321_135632758825519_869487095942557056_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=VWFmJVWDr8gAX-bPmtx&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=27b72da3a81bffee4dbfde419fef1c99&oe=61AD8427","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/258974777_266701558808032_447564714610537589_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=mw-D6igRXLcAX80UlmF&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=e2d5c3b8736ba759141d5afe3d2a478b&oe=61ADB4C6","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/258024342_259962786152633_7545899613739042142_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=0A8yM_8VlnYAX8ofpMZ&_nc_oc=AQkRYlFAjuSFyUurW_cGvC3HbWzLtx4zvmKWnnD1mvG1QhGgk4AwYySkx8ogspFMTjM&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=c4d61b3c9886fd2cb67ffd53344b3408&oe=61AEA477","w":1080,"h":1350},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/258238391_618070109236306_3428339051121137457_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=jEPYasn0PTcAX8aneHJ&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=b4836f3b7e55d5c62d65d5a244b79698&oe=61ADD505","w":1080,"h":1080},{"src":"https:\/\/scontent-sea1-1.cdninstagram.com\/v\/t51.29350-15\/257623363_456936869108125_5819006357932077841_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=HLvdxGMOG_EAX_OR_Pu&_nc_ht=scontent-sea1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=048edaaef8471248c126dc38bc2d29ad&oe=61AE7BCA","w":1080,"h":1350}]},"show_social_links":"1"},"theme_4_header":{"tk":"theme_4_header","uuid":"XRYEy6","logo":"0","banner_size":"0","header_menu":{"tk":"header_menu","uuid":"MA65Ap","sticky":false,"isDesktop":true,"menuStyle":"0","menuPartial":"client.elements.header_menu.style_one","overlayMenuPartial":"client.elements.header_menu._overlay-menu","stickyMenuPartial":"client.elements.header_menu.style_one","styleClass":"header-menustyle-one"},"theme_4_header_wrapper_element":{"tk":"theme_4_header_wrapper","uuid":"7Y4OYr","child_elements":{"val":"{\"count\":1,\"defaultValues\":{\"0\":{\"title\":\"Photography is Poetry\",\"subtitle\":\"Lorem ipsum dolor sit amet\",\"button_label\":\"\",\"photo_source\":[{\"XS\":\"sample_photos\/sample-18_XS.jpg\",\"SM\":\"sample_photos\/sample-18_SM.jpg\",\"MD\":\"sample_photos\/sample-18_MD.jpg\",\"LG\":\"sample_photos\/sample-18_LG.jpg\",\"XL\":\"sample_photos\/sample-18_XL.jpg\",\"OR\":\"sample_photos\/sample-18_OR.jpg\"}]}}}","child_elements":[{"tk":"theme_4_header","uuid":"WAeKA1","photo_source":{"child_elements":[]},"title":{"val":"Photography is Poetry","child_elements":[]},"subtitle":{"val":"Lorem ipsum dolor sit amet","child_elements":[]},"button_text":{"val":null,"child_elements":[]},"button_url":{"val":null,"child_elements":[]},"open_link_in_new_window":{"val":"0","child_elements":[]},"background_tint":{"val":"1","child_elements":[]}}],"customData":{"minNumberChildElements":1,"maxNumberChildElements":false}},"auto_play_slides":{"val":"0","child_elements":[]}}},"theme_4_post_footer":{"tk":"theme_4_post_footer","uuid":"9wjzAe"}}},"p":{"type":0,"blks":[{"tk":"single_text","uuid":"vXZbE7","layout":"2","text_with_title":{"tk":"text","uuid":"09QJ3o","content":{"val":"<h2 class=\"ql-align-center\">Every story is different..<\/h2>","child_elements":[]},"single_line":{"val":"1","child_elements":[]}}},{"tk":"client_gallery","uuid":"XRYEZP","layout":"0","client_gallery":{"tk":"client_gallery","uuid":"YbpLEA","layout":{"val":"0","child_elements":[],"valueConfig":[{"styleClass":"client-gallerystyle_1","containerClass":"container-fluid max-w-1200","columnClass":"col-12 col-md-6 col-lg-4"},{"styleClass":"client-gallerystyle_2","containerClass":"container-fluid","columnClass":"col-12 col-md-6 col-lg-4"},{"styleClass":"client-gallery_style_3","containerClass":"container-fluid max-w-1200","columnClass":"col-12 col-md-6"}]},"collections_per_page":{"val":"12","child_elements":[]},"order":{"val":"1","child_elements":[]},"show_tags":{"val":"1","child_elements":[]},"show_search":{"val":"1","child_elements":[]},"loadCollectionsUrl":"\/pw\/loadcollections\/YbpLEA\/N0O5Qv","publishedSiteUuid":"2wJ8k3","publishedPageUuid":"NVQ1AK"}}],"blogCategories":[],"postTags":[],"navUrl":"\/moments\/","previewUrl":"\/preview\/moments\/"}}
      </script>
    <script src="https://assets-pw.pixieset.com/assets/client/js/init-pw.v-b7494d2d.js"></script>
    </body>
    </html>
